.dashboard-container {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: row;
	overflow: hidden;
	/*background-image: linear-gradient(90deg, #ee0979cc, #ff6a00cc);*/
	background-color: #fff;
}

.dashboard-header {
	display: flex;
	flex-direction: row;
	height: 50px;
	align-items: center;
	padding-left: 1%;
	padding-right: 1%;
	background-color: #1A535C;
	color: #EBECED
	/*margin-bottom: 1%;*/
	/*border-bottom: 3px solid rgb(240,240,240);*/
	/*box-shadow: 0px 1px 20px #777;*/
	/*z-index: 999*/
}

.dashboard-nav {
	height: 100%;
	width: 80px;
	background-color: #46494C;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding-top: 2%;
}

.dashboard-nav-home {
	/*background-image: linear-gradient(90deg, #ee0979cc, #ff6a00cc);*/
	/*background-color: #fff;*/
}

.dashboard-nav-button {
	height: 50px;
	width: 50px;
	text-decoration: none;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.dashboard-nav-home img{
	height:50%;
	width:50%;
	object-fit: contain;
}

.dashboard-nav-button img{
	height:50%;
	width:50%;
	object-fit: contain;
}

.dashboard-content {
	display: flex;
	flex-direction: column;
	flex:1;
	/*padding: 1%;*/
}

.dashboard-page-title {
	width: 100%;
	/*background-color: #C5C3C6;*/
	padding: 3%;
}

.dashboard-body {
	display: flex;
	flex-direction: column;
	flex: 1;
	background-color: rgb(240,240,240);
	/*background-image: linear-gradient(45deg, #8D99AE, #EDF2F4)*/
}