.dashboard-table-filters {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 50px;
}

.dashboard-table-pagination {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	height: 50px;
}

.dashboard-table-page-button {
	height: 30px;
	min-width: 50px;
}

.dashboard-table-content {
	flex:1;
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}

.dashboard-table-header {
	background-color: #999;
	color:#fff;
}

.dashboard-table-row:hover{
	background-color: #999;
	cursor: pointer;
}

tr {
	height: 40px;
	text-align: left;
	border-top:1px solid #888;
	border-bottom:1px solid #888;

}

td {
	padding-left: 1%;
}

th {
	padding-left: 1%;
}