.dashboard-table-pagination {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	height: 50px;
}

.dashboard-table-page-button {
	height: 30px;
	min-width: 50px;
}

.dashboard-table-content {
	flex:1;
	width: 100%;
	border-spacing: 0
}

.dashboard-table-header {
	background-color: #999;
}

tr {
	height: 40px;
	text-align: left;
}

td {
	padding-left: 1%;
}

th {
	padding-left: 1%;
}